##### Introduction

- This is one of the many datasets from Curated Microarray Database (CuMiDa),solely for machine learning.
- The dataset below is a breat cancer gene expression dataset containing the following:

    - 6 classes
    - 54676 genes
    - 151 samples

In [7]:
import pandas as pd
import numpy as np

In [2]:
# loading the dataset
cancer_df= pd.read_csv('/media/danlof/dan files/data_science_codes/PROJECTS/Breast_GSE45827.csv')
cancer_df.head()

,samples,type,1007_s_at,1053_at,117_at,121_at,1255_g_at,1294_at,1316_at,1320_at,...,AFFX-r2-Ec-bioD-3_at,AFFX-r2-Ec-bioD-5_at,AFFX-r2-P1-cre-3_at,AFFX-r2-P1-cre-5_at,AFFX-ThrX-3_at,AFFX-ThrX-5_at,AFFX-ThrX-M_at,AFFX-TrpnX-3_at,AFFX-TrpnX-5_at,AFFX-TrpnX-M_at
0,84,basal,9.850040,8.097927,6.424728,7.353027,3.029122,6.880079,4.963740,4.408328,...,12.229711,11.852955,13.658701,13.477698,6.265781,5.016196,4.901594,2.966657,3.508495,3.301999
1,85,basal,9.861357,8.212222,7.062593,7.685578,3.149468,7.542283,5.129607,4.584418,...,12.178531,11.809408,13.750086,13.470146,6.771853,5.291005,5.405839,2.934763,3.687666,3.064299
2,87,basal,10.103478,8.936137,5.735970,7.687822,3.125931,6.562369,4.813449,4.425195,...,12.125108,11.725766,13.621732,13.295080,6.346952,5.171403,5.184286,2.847684,3.550597,3.158535
3,90,basal,9.756875,7.357148,6.479183,6.986624,3.181638,7.802344,5.490982,4.567956,...,12.111235,11.719215,13.743108,13.508861,6.610284,5.193356,5.086569,3.031602,3.524981,3.272665
4,91,basal,9.408330,7.746404,6.693980,7.333426,3.169923,7.610457,5.372469,4.424426,...,12.173642,11.861296,13.797774,13.542206,6.414354,5.040202,5.235318,2.956232,3.445501,3.193947

In [3]:
# Understanding more on the type of the cancer 
# the breast cancers are group to either one of the following groups
# except the normal, with is not a type.

cancer_df.type.value_counts()

basal        41
HER          30
luminal_B    30
luminal_A    29
cell_line    14
normal        7
Name: type, dtype: int64

In [5]:
# divide the data into test and train sets 
from sklearn.model_selection import train_test_split

# this separates the features X from the target variables y
X,y = cancer_df.iloc[:,2:].values,cancer_df.iloc[:,1].values

# split the dataset in the following subsets for training and testing
X_train, X_test, y_train, y_test = train_test_split(X, y, 
                                                 test_size=0.3,stratify=y,
                                                 random_state=0)

1. Standardizing the dataset

In [6]:
from sklearn.preprocessing import StandardScaler

# simplify the scaler for easy usage
sc= StandardScaler()

#standardizing the train set
X_train_std=sc.fit_transform(X_train)

# standardize the test dataset
X_test_std=sc.fit_transform(X_test)

2. Computing the d-dimensional mean vector

In [22]:
#numbers will be displayed with up to 4 decimal places
np.set_printoptions(precision=7)

#empty list for means computed
mean_vecs=[]

for label in range(1,7):
    mean_vecs.append(np.mean(X_train_std[y_train==label],axis=0))
    print(f'MV {label}: {mean_vecs[label-1]}\n')

MV 1: [nan nan nan ... nan nan nan]

MV 2: [nan nan nan ... nan nan nan]

MV 3: [nan nan nan ... nan nan nan]

MV 4: [nan nan nan ... nan nan nan]

MV 5: [nan nan nan ... nan nan nan]

MV 6: [nan nan nan ... nan nan nan]

/home/danlof/anaconda3/lib/python3.9/site-packages/numpy/core/fromnumeric.py:3440: RuntimeWarning: Mean of empty slice.
  return _methods._mean(a, axis=axis, dtype=dtype,
/home/danlof/anaconda3/lib/python3.9/site-packages/numpy/core/_methods.py:181: RuntimeWarning: invalid value encountered in true_divide
  ret = um.true_divide(